body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin: 0;
  padding: 0;
}

ul {
  list-style: circle;
}

h2 {
  text-transform: uppercase;
}

a {
  color: black;
}

address {
  font-style: normal;
}

.content_section {
  box-sizing: border-box;
  width: 1100px;
}

.nav__style {
  line-height: 24.3px;
  font-size: 18px;
}

.nav__menu-list {
  list-style: none;
}

/*================header================*/

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 24px;
  margin: 92px 0px 97px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  width: 391px;
}

.header__logo__contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 568px;
}

.header__logo {
  display: flex;
  position: relative;
  width: 124px;
}

.header__logo__frame {
  display: flex;
  position: absolute;
}

.header__contact {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 240px;
}

/*=============main================*/

.content {
  position: relative;
}

/*===============section1=================*/

.cover {
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url(../images/lotus-flower.svg);
  background-repeat: no-repeat;
  height: 757px;
}

.black {
  display: flex;
  position: absolute;
  background-color: black;
  opacity: 0.6;
  height: 100%;
  width: 100%;
}

.cover__menu {
  padding: 165px 50px 51px;
}

.menu__title {
  position: relative;
  z-index: 1;
  color: white;
  line-height: 115px;
  text-transform: uppercase;
}

.accent-span {
  display: block;
  font-size: 100px;
  letter-spacing: 30px;
}

.accent-span-letter {
  letter-spacing: 60px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.menu__item {
  padding-top: 135px;
  padding-left: 28px;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
}

.item__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

.item__content-style {
  font-size: 22px;
  word-spacing: 18.5px;
}

.item__content-button {
  padding: 4px;
  border: 1px solid white;
  padding: 12px 32px 11px 31px;
}

/*===============section2=================*/

.lots {
  margin-top: 180px;
  padding: 0px 24px;
}

.lots__title {
  padding-bottom: 27px;
  padding-left: 40px;
  font-size: 40px;
}

.lot__cards {
  display: flex;
  justify-content: space-between;
}

.card-style {
  color: white;
  height: 464px;
  width: 254px;
}

.card__title {
  z-index: 1;
  font-size: 22px;
  text-decoration: underline;
  line-height: 27px;
}

.card__content {
  z-index: 1;
  font-size: 20px;
  line-height: 24px;
}

.card__first {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 51px 40px 48px;
  background-image: url(../images/photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card__second {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 51px 40px 48px;
  background-image: url(../images/photo-second.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card__third {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  padding: 51px 40px 48px;
  background-image: url(../images/photo-third.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card__info {
  padding-top: 30px;
  padding-left: 40px;
  font-size: 20px;
  text-decoration: underline;
}

.cards-black {
  top: 0px;
  left: 0px;
}

/*===============section3=================*/

.about {
  padding: 0px 24px;
  margin-top: 146px;
}

.about__content {
  position: relative;
  padding-top: 149px;
  padding-left: 359px;
}

.about__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 23px;
}

.about__title {
  padding-bottom: 112px;
}

.about__title-style {
  font-size: 40px;
  line-height: 24px;
}

.about__text-style {
  font-size: 20px;
  line-height: 24px;
}

.about__logo {
  position: absolute;
  padding-top: 35px;
  padding-left: 47px;
}

.logo-title {
  position: absolute;
  padding: 64px 0px 0px 47px;
  z-index: 1;
}

.logo-background {
  position: absolute;
  z-index: -1;
}

/*======================footer====================*/

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
  margin: 180px 0px 88px;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 240px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer__icons {
  display: flex;
  position: relative;
  justify-content: space-between;
  gap: 48px;
}

.icons__ellipse {
  position: relative;
  width: 48px;
  height: 48px;
}

.icons__youtube {
  position: absolute;
  padding: 14px 11px;
}

.icons__youtube-logo {
  position: absolute;
  padding: 19px;
}

.icons__vk {
  position: absolute;
  padding: 15px 105px;
}

.icons__pinterest {
  position: absolute;
  padding: 13px 13px 13px 208px;
}